.app{
  text-align: center;
}
body{
  background-color: var(--background-color);
  color:var(--text-color);
   background-image: url('./images/Travel_bg1.png');
   background-size: "100% 100%";
   background-position: "center";
   background-repeat: "no-repeat";
   background-attachment: fixed;
   min-height: "100vh";
}
:root{
  --background-color:#ffffff;
  --text-color:#333333;
  
}
[data-theme='dark'] body{
  --background-color:#333333;
  --text-color:#ffffff;
  background-image: url('./images/Travel_bg1-Photoroom.png');
}
